{% extends 'auctions/layout.html' %}
{% block body %}




    <div class="container">
      
            <div class="card mb-3" style="max-height: 800px;">
                <div class="row no-gutters">
                    <div>
                    <img src="{{ listing.image_url }}" class="card-img" alt="Image of Listing" style="max-height: 800px; width:auto">
                    </div>
                    <div class="col">
                    <div class="card-body">
                        <h1 class="card-title text-center">{{ listing.title }}</h1>
                        <h4 class="mt-5">Current Bid: <span class="badge badge-info">${{ listing.current_bid|floatformat:2 }}</span></h4>
                        <h5 class="mt-5">Description:</h5>
                        <p class="card-text ml-5">{{ listing.description }}</p>
                        <br><br>
                        <a href="{% url 'listing' listing.id %}" class="btn btn-primary">View Listing</a>
                    </div>
                    </div>
                </div>
            </div>

            
        
    
    </div>

{% endblock %}